*{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    background-color: black;
}
nav ul{
    display: flex;
}
nav ul li{
    list-style: none;
    margin: 5px 12px;
    padding: 4px;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
}
.container{
    position: absolute;
    background: url('bg.jpg') no-repeat center center/cover;
    height: 100%;
    width: 100%;
}
.container .box{
    border: 2px solid red;
    width: 33%;
    height: 200px;
    border-radius: 7px;
    margin: 121px;
    padding: 17px 13px;
    text-align: center;
    color: white;
}
.box h2{
    font-size: 2.3rem;
}
.box .form-group input{
    padding: 4px 12px;
    margin: 2px;
    text-align: center;
    font-size: 1rem;
    width: 323px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.form-group .btn{
    padding: 4px 12px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 1rem;
}